.partName{
    color:#047ca8;
}
.skuResult{
    padding-left: 10px;
    width: 90%;
}
.skuData{
    background-color:rgba(255, 255, 255, 0.8784313725490196);
    border-radius: 3px;
    box-shadow: 2px 2px 2px #cccccc;
    height: 405px;
    overflow-y: auto;
}
.skuAction{
    display: inline-block;
}