<div class="col-12 no-padding">
    <div class="col-12 no-padding">
      <app-result-header></app-result-header>
    </div>
    <div class="row full-height no-margin module-section">
      <div class="col-10">
          <div class="card module-cards">
              <div class="card-header">
                About Us:
              </div>
              <div class="card-body">
                <p class="card-text">
                  <span>
                    CCW 360 initiative is, collaboration of IT with CPS teams to reduce turn around time of the incidents. After
                    analyzing whole bunch of inflow incidents, we have categorized and automated the scenarios which lead to
                    number of incidents, so that they can be validated directly into this system. It includes multiple scenarios
                    across the tracks like Deals, Configurations, Estimate and Orders.
                    <br><br>
                    We have arranged all scenarios in application--Module--Scenario Structure for intuitive navigation. For Ex:
                    If you are facing issue with Reusable Non Standard Deal discounts, you can look into Deals--Reusable Non
                    Standard Deal issues module. While we have tried to arrange as logically as possible, if you feel it can be
                    better categorized please do let us know.
                    <br><br>
                    Happy using CPS Inquiry System. Please give us feedback, suggestions so we can improve it to serve you
                    better!
                  </span><br>
                  <div class="contact">
                      <a href="#">Contact Us</a>
                  </div>
              </div>
            </div>
      </div>
    </div>
  </div>