.module-cards >.card-header{
    background: #047ca8;
    color: #fff;
}
.module-cards{
    margin-top: 7px;
    margin-left: 216px;
}
.module-section{
    padding-top: 100px;
    padding-bottom: 15px;
}
.contact{
    color:rgb(132, 132, 248);
    font:20px;
}